html {
  height: 100%;
  width: 100%;
  text-transform: uppercase;
  box-sizing: border-box;
}

body {
  background: url("/load.jpg");
  background-size: cover;
  margin: 0;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

#carteira {
  position: relative;
  background: url("/fndoac.png");
  background-size: cover;
  width: 1300px;
  height: 850px;
}

.profileImage {
  position: absolute;
  /* Layout Properties */
  top: 215px;
  left: 100px;
  width: 435px;
  height: 502px;
  /* UI Properties */
  opacity: 1;
  border-radius: 15px;
  transition: box-shadow 0.3s;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.profileImage:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  cursor: pointer;
}

.nameInput {
  position: absolute;
  /* Layout Properties */
  top: 254px;
  left: 603px;
  max-width: 222px;
  height: 136px;
  border: none;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

textarea {
  resize: none;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  position: absolute;
}

.fieldTitle {
  /* UI Properties */
  text-align: left;
  font: italic normal 300 23px/28px Lato;
  letter-spacing: 2.53px;
  color: #0e2b56;
  opacity: 1;
}

.oacNumber {
  display: flex;
  flex-direction: column;
  position: absolute;
  /* Layout Properties */
  top: 414px;
  left: 603px;
  width: 214px;
}

.phone {
  /* Layout Properties */
  top: 517px;
  left: 603px;
  width: 123px;
}

.phoneInput {
  width: 200px;
  border: none;
}

.emissionDate {
  /* Layout Properties */
  top: 414px;
  left: 928px;
  width: 260px;
}

.expirationDate {
  /* Layout Properties */
  top: 517px;
  left: 928px;
  width: 260px;
}

.usrData-Big {
  /* UI Properties */
  text-align: left;
  font: normal normal bold 57px/68px Lato;
  letter-spacing: 0px;
  color: #0e2b56;
  opacity: 1;
}

.usrData-Small {
  /* UI Properties */
  text-align: left;
  font: normal normal bold 34px/41px Lato;
  letter-spacing: 3.74px;
  color: #0e2b56;
  opacity: 1;
}

.submit {
  background: #000 !important;
  color: #fff !important;
  outline: 0 !important;
  cursor: pointer;
  border: 0;
  vertical-align: center;
  text-decoration: none;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  width: auto;
  height: auto;
  font-size: 14px;
  line-height: 1.715em;
  font: Lato;
}
