@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,800;1,700&display=swap');

body {
	display: inline-block;
	font-family: Arial;
	color: #211a1a;
	font-size: 0.9em;
	max-width: 900px;
	align-items: center;
	background-color: rgb(255, 255, 255);
	font-family: 'Montserrat', sans-serif;
}

a {
	text-transform: none;
	text-decoration: none;
	color: #ffffff;
}

.title {
	text-align: center;
	font-size: 23px;
	color: #3bb271;
}

.btn {
	padding: 10px;
	background-color: purple;
	color: white;
	border-radius: 15px;
	cursor: pointer;
	border: none;
	align-items: center;
	text-align: center;
	margin-top: 30px;
}

.btn:hover {
	padding: 10px;
	background-color: rgb(177, 11, 177);
	color: white;
}


.text-right {
	text-align: right;
}

#shopping-cart {
	margin: 40px;
}

#product-grid {
	margin: 40px;
}

#shopping-cart table {
	width: 100%;
	background-color: #F0F0F0;
}

#shopping-cart table td {
	background-color: #FFFFFF;
}

.txt-heading {
	color: #211a1a;
	border-bottom: 1px solid #E0E0E0;
	overflow: auto;
}

#btnEmpty {
	border: 1px solid #360707;
	padding: 5px 10px;
	color: #d00000;
	float: right;
	text-decoration: none;
	border-radius: 3px;
	margin: 10px 0px;
	cursor: pointer;
}

#btnEmpty:hover {
	background-color: #852828;
	padding: 5px 10px;
	color: #fcfcfc;
	float: right;
	text-decoration: none;
	border-radius: 3px;
	margin: 10px 0px;
	cursor: pointer;
}

.add-to-cart {
    padding: 5px 10px;
    margin-left: 5px;
    background-color: #582780;
    border: #E0E0E0 1px solid;
    color: #fafafa;
    text-decoration: none;
    border-radius: 7px;
    cursor: pointer;
}
.add-to-cart:hover {
    padding: 5px 10px;
    margin-left: 5px;
    background-color: #8e4ac5;
    border: #E0E0E0 1px solid;
    color: #fafafa;
    text-decoration: none;
    border-radius: 7px;
    cursor: pointer;
}

#product-grid .txt-heading {
	margin-bottom: 18px;
}

.product-item {
	float: left;
	background: #ffffff;
	margin: 30px 30px 0px 0px;
	border: #E0E0E0 1px solid;
	padding: 10px 10px 20px 10px;
    line-height: 30px;
	border-radius: 15px;
    text-align: center;
}


.product-image {
	height: 155px;
	width: 250px;
	background-color: #FFF;
}

.clear-float {
	clear: both;
}

.demo-input-box {
	border-radius: 2px;
	border: #CCC 1px solid;
	padding: 2px 1px;
}

.tbl-cart {
	font-size: 0.9em;
}

.tbl-cart th {
	font-weight: normal;
}

.product-title {
	margin-bottom: 20px;
}

.product-price {
	float:left;
}

.product-quantity {
    padding: 5px 10px;
    border-radius: 3px;
    border: #E0E0E0 1px solid;
}

.product-tile-footer {
    padding: 15px 15px 0px 15px;
    overflow: auto;
}

.cart-item-image {
	width: 30px;
    height: 30px;
    border-radius: 50%;
    border: #E0E0E0 1px solid;
    padding: 5px;
    vertical-align: middle;
    margin-right: 15px;
}
.no-records {
	text-align: center;
	clear: both;
	margin: 38px 0px;
}